.container {
  background-color: #5356FF;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
}

.logo {
  justify-self: center;
  align-self: center;
  width: 150px;
}

.container_input {
  margin: 10px auto;
  border: 2px solid #DFF5FF;
  padding: 10px;
  border-radius: 10px;
}

.container_input input {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  width: 250px;
  border: none;
  outline: none;
  color: #DFF5FF;
  text-align: center;
}

.container_input input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #DFF5FF;
  font-weight: bold;
}

.container_filter {
  font-family: "Roboto", sans-serif;
  color: #DFF5FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
  width: 80%;
  gap: 30px;
}

.container_filter a {
  font-weight: bold;
  cursor: pointer;
}

.container_filter a:hover {
  text-decoration: underline;
}
